.footerdiv{
    /* width: 100vw; */
    /* background-color: aquamarine; */
    height: 50vh;
}
.footerimg{
    /* width: 80vw; */
    /* height: 40vh; */
    height: 70vh;
    width: 50vw;
    padding-top: 50px;
}
.footer2{
    position: fixed;
    bottom: 0;
    background-color: rgba(64,203,180,255);
    width: 100%;
}